{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block banner %}
{% endblock banner %}

{% block content %}
<div class="container">
    <!-- About Content -->
    <div class="about-main">
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-4" src="{% static "images/hom4.jpg" %}"  alt=""/>
            </div>
            <div class="col-lg-6">
                <h2>{% trans "About" %} <span class="important-text">JLK</span></h2>
                <p> {% trans "As agriculture is the flagship activity of the continent, this ambitious project, targeting mainly sub-Saharan Africa, has as main objectives:" %}
                <ul>
                    <li>{% trans "To build an all-inclusive portal for supporting the IPM technologies deployment in Africa;" %}</li>
                    <li>{% trans "To develop a portal for IPM technology transfer and outreach;" %}</li>
                    <li>{% trans "To Establish an electronic technology gateway, which is a one-stop-shop to store, browse,search,query, and visualize IPM technologies;" %}
                    </li>
                    <li>{% trans "To link farmers to inputs and outputs – products and services;" %}</li>
                    <li> {% trans "To provide a stand-alone gateway with all African countries boundaries and queries for identifying similar agroecology within the continent;" %}
                    </li>
                </ul>
                </p>
            </div>
        </div>
        <!-- /.row -->
    </div>

   
</div>
{% endblock content %}

{% block custom_js %}
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
{% endblock custom_js %}