{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block custom_navigation %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">
    <div class="container">
        <a class="navbar-brand" href="home">
            <img src="{% static 'images/kilimo.png' %}" alt="logo" class="custom-logo"/>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="fas fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact Us</a>
                </li>
                {% if uid %}
                <div class="ml-3 btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        {{username}}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="user_account">My Account</a>
                        <a class="dropdown-item" href="#">Dashboard</a>
<!--                        <a class="dropdown-item" href="new_crop_request">Crop Request</a>-->
<!--                        <a class="dropdown-item" href="#">Farms</a>-->
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="logout">Logout</a>
                    </div>
                </div>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="farmer_registration">Register now</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="login">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block banner %}
{% endblock banner %}

{% block content %}
<style>
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    display:inline-block;
    width: 38px;
    height: 18px;
    margin-right: 8px;
    opacity: 0.7;
}
</style>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>

<div class="container m-auto">
    {% if status == 'unconfirmed'%}
    <div class="alert alert-success py-1 mt-3">
        <p>
            {% trans "Your account is not yet active. Please check your emails." %}
        </p>
    </div>
    {% else %}
    <div class="row py-4">
        <div class="col-md-9 col-sm-8 col-xs-12">
            <h3>{% trans "Agro similarity" %}</h3>
          
            <form method="post" action="#" id="form-similarity">
                {% csrf_token %}
                <h5>{% trans "Choose point on the map" %}</h5>
                <div class="map" id="map" style="width:800px; height:505px;">
                    
                </div>
                <br />
                <div class="row">
                    <div class="form-group col lg-6">
                        <label for="longitude">{% trans "Longitude" %}</label>
                        <input type="text" name="longitude" id="longitude" readonly="true" class="form-control" />		
                    </div>
                    <div class="form-group col lg-8">
                        <label for="latitude">{% trans "Latitude" %}</label>
                        <input type="text" name="latitude" id="latitude" readonly="true" class="form-control" />	
                    </div>  
                </div>
                
                <button type="submit" class="btn btn-success">{% trans "Similarity computation" %}</button>
                </form>
        </div>
        {% comment %} <div class="col-md-3 col-sm-4 col-xs-12 border-left">
            <h3>Information</h3>
            <span class="material-icons mr-2">person</span>{{user.name}}<br/>
            <span class="material-icons mr-2">email</span>{{user.email}}<br/>
            <span class="material-icons mr-2">phone</span>{{user.phone}}<br/>
        </div> {% endcomment %}
    </div>
    {% endif %}
</div>
<script src="{% static 'js/map/cameroon_state.js' %}"></script>
<script src="{% static 'js/map/all_json_country.js' %}"></script>
<script src="{% static 'js/map/mapmanager.js' %}"></script>

<script type="text/javascript">





</script>
<span id="demo-url" class="d-none">{% url 'demoagro' %}</span>
{% endblock content %}
