{% extends "base.html" %}

{% load i18n %}
{% block banner %}

{% endblock %}

{% block content %}
<div class="py-4">
    <div class="row d-flex flex-md-row flex-sm-column flex-direction-row
        justify-content-right align-items-center col-md-8 col-sm-8 col-xs-12">
        <a href="user_account" class="mr-3">
            <span class="material-icons">
                reply_all
            </span>
        </a>
        <h3>
            {% trans "Crops" %}
        </h3>
    </div>
    <div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h3 class="card-title">{% trans "View and search crops" %}</h3>
                                <a href="crops_registration" class="btn btn-outline-success">{% trans "Add crop" %}</a>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">{% trans "Name" %}</th>
                                        <th scope="col">{% trans "Crop period start" %}</th>
                                        <th scope="col">{% trans "Crop period end" %}</th>
                                        <th scope="col">{% trans "Warehouse" %}</th>
                                        <th scope="col">{% trans "Stock location" %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for crop in crops %}
                                    <tr>
                                        <th scope="row">{{crop.id}}</th>
                                        <td>{{crop.name}}</td>
                                        <td>{{crop.crop_period_start}}</td>
                                        <td>{{crop.crop_period_end}}</td>
                                        <td>{{crop.warehouse_id.name}}</td>
                                        <td>{{crop.location_id.name}}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">{% trans "Name" %}</th>
                                        <th scope="col">{% trans "Crop period start" %}</th>
                                        <th scope="col">{% trans "Crop period end" %}</th>
                                        <th scope="col">{% trans "Warehouse" %}</th>
                                        <th scope="col">{% trans "Stock location" %}</th>
                                        <!--                                        <th scope="col">Description</th>-->
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
    </div>
</div>
{% endblock %}

{% block custom_js %}

{% endblock custom_js %}
