{% extends "base.html" %}
{% load static %}

{% block custom_style %}

<style>
    .categ-banner{
        position:relative;
    }

    .categ-banner .title{
        width:100%;
        height:100%;
        position:absolute;
        z-index:15;
    }

    .categ-banner .product-overlay{
        background-color:rgba(0,0,0,0.5);
        width:100%;
        height:100%;
        position:absolute;
        z-index:10;
    }






</style>
{% endblock %}

{% block banner %}
<div class="categ-banner"
     style="background:url('{% static "images/slider-01.jpg" %}');
            background-size:cover;
            background-repeat:no-repeat;height:15vh;">
    <div class="product-overlay"></div>
    <div class="title d-flex flex-column justify-content-center align-items-center">
        <h1 class="py-3 px-3 text-white" data-aos="fade-up" style="text-align:center;" data-aos-delay="100">
            {% trans "Add Crop" %}
        </h1>
    </div>
</div>
{% endblock banner %}

{% block content %}
<div class="container col-md-10 col-sm-11 m-auto p-3">
    <div class="card rounded-lg shadow p-4 border">
        <div class="d-flex">
            <a href="farmer_crops" class="mr-3">
                <span class="material-icons">
                    reply_all
                </span>
            </a>
            <h3>{% trans "Register your crop" %}</h3>
        </div>
        <hr/>
        <form method="post" action="crops_registration" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <label for="image">{% trans "Image" %}</label>
                        <input class="form-control" type="file" name="image" id="image" required>
                    </div>
                    <div class="form-group">
                        <label for="name">{% trans "Name" %}</label>
                        <input class="form-control" type="text" name="name" id="name" required>
                    </div>
                    <div class="form-group">
                        <label for="start_date">{% trans "Crop period start" %}</label>
                        <input class="form-control" type="date" name="start_date" id="start_date" required>
                    </div>
                    <div class="form-group">
                        <label for="end_date">{% trans "Crop period end" %}</label>
                        <input class="form-control" type="date" name="end_date" id="end_date" required>
                    </div>
                    <div class="form-group form-inline">
                        <label for="techs">{% trans "Select technonologies" %}</label>
                        <select class="form-control" name="technologies_ids" id="techs" multiple>
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="opel">Opel</option>
                            <option value="audi">Audi</option>
                        </select>
                        <a href="#">
                            <span class="material-icons 2x ml-4" title="add new technology">{% trans "add" %}</span>
                        </a>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label for="warehouse_id">{% trans "Select Warehouse" %}</label>
                        <div class="d-flex flex-row justify-content-between align-items-center">
                            <select class="form-control" name="warehouse_id" id="warehouse_id">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="opel">Opel</option>
                                <option value="audi">Audi</option>
                            </select>
                            <a href="#">
                                <span class="material-icons 2x ml-4" title="{% trans 'add new technology' %}">{% trans "add" %}</span>
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="stock_id">{% trans "Select Stock location" %}</label>
                        <div class="d-flex flex-row justify-content-between align-items-center">
                            <select class="form-control" name="stock_id" id="stock_id">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="opel">Opel</option>
                                <option value="audi">Audi</option>
                            </select>
                            <a href="#">
                                <span class="material-icons 2x ml-4" title="{% trans 'add new technology' %}">{% trans "add" %}</span>
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">{% trans "Description" %}</label>
                        <textarea id="description" class="form-control" rows="6"
                                  placeholder="{% trans 'type your description here' %} ...">
                        </textarea>
                    </div>
                </div>
            </div>
            <hr>
            <div class="px-3 row d-flex flex-row justify-content-between align-items-center">
                <button class="btn btn-danger" type="reset">
                    {% trans "Cancel" %}
                </button>
                <button class="btn btn-success" type="submit">
                    {% trans "Submit" %}
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}
