{% extends "base.html" %}

{% block banner %}
{% endblock banner %}

{% block content %}
<div class="container m-auto">
    {% if status == 'unconfirmed'%}
    <div class="alert alert-success py-1 mt-3">
        <p>
            Your account is not yet active. Please check your emails.
        </p>
    </div>
    {% else %}
    <div class="row py-4">
        <div class="col-md-9 col-sm-8 col-xs-12">
            <h3>My Documents</h3>
            <!--            class="col-md-6 col-sm-6 col-xs-12"-->
            <div class="list-group col-md-7 col-sm-7 col-xs-12">
                <a href="farmer_crops" class="list-group-item d-flex justify-content-between align-items-center">
                    My crops
                    <span class="badge badge-primary badge-pill">
                        {{crops_count}}
                    </span>
                </a>
                 <a href="farmer_farms" class="list-group-item d-flex justify-content-between align-items-center">
                    My Farms
                    <span class="badge badge-primary badge-pill">
                        {{farm_location_count}}
                    </span>
                </a>
                <a href="farmer_requests" class="list-group-item d-flex justify-content-between align-items-center">
                    My crop requests
                    <span class="badge badge-primary badge-pill">
                        {{crop_requests_count}}
                    </span>
                </a>
                <a href="all_farmers" class="list-group-item d-flex justify-content-between align-items-center">
                    Search farmers
                    <span class="badge badge-primary badge-pill">
                        {{farmers_count}}
                    </span>
                </a>
                <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                    Chain values
<!--                    <span class="badge badge-primary badge-pill">-->
<!--                        {{farmers_count}}-->
<!--                    </span>-->
                </a>
                <a href="{% url 'agroviews' %}" class="list-group-item">
                    Agro similarity
                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 border-left">
            <h3>Information</h3>
            <span class="material-icons mr-2">person</span>{{user.name}}<br/>
            <span class="material-icons mr-2">email</span>{{user.email}}<br/>
            <span class="material-icons mr-2">phone</span>{{user.phone}}<br/>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}

