{% extends "base.html" %}

{% block custom_style %}
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Fontawesome CSS -->
<link href="css/all.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="css/style.css" rel="stylesheet">
{% endblock %}

{% block custom_navigation %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">
    <div class="container">
        <a class="navbar-brand" href="home">
            <img src="static/images/kilimo.png" alt="logo" class="custom-logo"/>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="fas fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="about">About</a>
                </li>
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link" href="#">Services</a>-->
                <!--                </li>-->
                <!-- <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Farmer Registration
                   </a>
                   <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                      <a class="dropdown-item" href="farmer_registration">Add Farmer</a>
                      <a class="dropdown-item" href="all_farmers">View All Farmers</a>
                   </div>
                </li> -->

                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="farmer_registration">Register now</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block banner %}
{% endblock banner %}

{% block content %}
<div class="container">
    <!-- About Content -->
    <div class="about-main">
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-4" src="static/images/hom4.jpg" alt=""/>
            </div>
            <div class="col-lg-6">
                <h2>About <span class="important-text">JLK</span></h2>
                <p> As agriculture is the flagship activity of the continent, this ambitious project, targeting mainly
                    sub-Saharan Africa, has as main objectives:
                    <ul>
                        <li>To build an all-inclusive portal for supporting the IPM technologies deployment in Africa;</li>
                        <li>To develop a portal for IPM technology transfer and outreach;</li>
                        <li>To Establish an electronic technology gateway, which is a one-stop-shop to store, browse,
                            search,
                            query, and visualize IPM technologies;
                        </li>
                        <li>To link farmers to inputs and outputs – products and services;</li>
                        <li> To provide a stand-alone gateway with all African countries boundaries and queries for
                            identifying
                            similar agroecology within the continent;
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <!-- /.row -->
    </div>

    <!-- Team Members -->
    <!--TODO associate it with django model-->
    <!--		<div class="team-members-box">  -->
    <!--			<h2>Our Team</h2>-->
    <!--			<div class="row">-->
    <!--				<div class="col-lg-4 mb-4">-->
    <!--				  <div class="card h-100 text-center">-->
    <!--					<img class="card-img-top" src="images/team_01.jpg" alt="" />-->
    <!--					<div class="card-body">-->
    <!--						<h4 class="card-title">Team Member</h4>-->
    <!--						<h6 class="card-subtitle mb-2 text-muted">Position</h6>-->
    <!--						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>-->
    <!--					</div>-->
    <!--					<div class="card-footer">-->
    <!--						<ul>-->
    <!--							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>-->
    <!--							<li><a href="#"><i class="fab fa-twitter"></i></a></li>-->
    <!--							<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>-->
    <!--						</ul>-->
    <!--					</div>-->
    <!--				  </div>-->
    <!--				</div>-->
    <!--				<div class="col-lg-4 mb-4">-->
    <!--				  <div class="card h-100 text-center">-->
    <!--					<img class="card-img-top" src="images/team_02.jpg" alt="" />-->
    <!--					<div class="card-body">-->
    <!--						<h4 class="card-title">Team Member</h4>-->
    <!--						<h6 class="card-subtitle mb-2 text-muted">Position</h6>-->
    <!--						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>-->
    <!--					</div>-->
    <!--					<div class="card-footer">-->
    <!--						<ul>-->
    <!--							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>-->
    <!--							<li><a href="#"><i class="fab fa-twitter"></i></a></li>-->
    <!--							<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>-->
    <!--						</ul>-->
    <!--					</div>-->
    <!--				  </div>-->
    <!--				</div>-->
    <!--				<div class="col-lg-4 mb-4">-->
    <!--				  <div class="card h-100 text-center">-->
    <!--					<img class="card-img-top" src="images/team_03.jpg" alt="" />-->
    <!--					<div class="card-body">-->
    <!--						<h4 class="card-title">Team Member</h4>-->
    <!--						<h6 class="card-subtitle mb-2 text-muted">Position</h6>-->
    <!--						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>-->
    <!--					</div>-->
    <!--					<div class="card-footer">-->
    <!--						<ul>-->
    <!--							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>-->
    <!--							<li><a href="#"><i class="fab fa-twitter"></i></a></li>-->
    <!--							<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>-->
    <!--						</ul>-->
    <!--					</div>-->
    <!--				  </div>-->
    <!--				</div>-->
    <!--			</div>-->
    <!--			&lt;!&ndash; /.row &ndash;&gt;-->
    <!--		</div>-->
    <!-- Our Customers -->
    <!--		<div class="customers-box"> -->
    <!--			<h2>Our Customers</h2>-->
    <!--			<div class="row">-->
    <!--				<div class="col-lg-2 col-sm-4 mb-4">-->
    <!--				  <img class="img-fluid" src="images/logo_01.png" alt="" />-->
    <!--				</div>-->
    <!--				<div class="col-lg-2 col-sm-4 mb-4">-->
    <!--				  <img class="img-fluid" src="images/logo_02.png" alt="" />-->
    <!--				</div>-->
    <!--				<div class="col-lg-2 col-sm-4 mb-4">-->
    <!--				  <img class="img-fluid" src="images/logo_03.png" alt="" />-->
    <!--				</div>-->
    <!--				<div class="col-lg-2 col-sm-4 mb-4">-->
    <!--				  <img class="img-fluid" src="images/logo_04.png" alt="" />-->
    <!--				</div>-->
    <!--				<div class="col-lg-2 col-sm-4 mb-4">-->
    <!--				  <img class="img-fluid" src="images/logo_05.png" alt="" />-->
    <!--				</div>-->
    <!--				<div class="col-lg-2 col-sm-4 mb-4">-->
    <!--				  <img class="img-fluid" src="images/logo_06.png" alt="" />-->
    <!--				</div>-->
    <!--			</div>-->
    <!--			&lt;!&ndash; /.row &ndash;&gt;-->
    <!--		</div>-->
    <!--		&lt;!&ndash; /.container &ndash;&gt;-->
    <!--	</div>-->
</div>
{% endblock content %}

{% block custom_js %}
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
{% endblock custom_js %}