{% extends "base.html" %}
{% block custom_navigation %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">
    <div class="container">
        <a class="navbar-brand" href="home">
            <img src="static/images/kilimo.png" alt="logo" class="custom-logo"/>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="fas fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact Us</a>
                </li>
                {% if uid %}
                <div class="ml-3 btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        {{username}}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="user_account">My Account</a>
                        <a class="dropdown-item" href="#">Dashboard</a>
                        <!--                        <a class="dropdown-item" href="new_crop_request">Crop Request</a>-->
                        <!--                        <a class="dropdown-item" href="#">Farms</a>-->
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="logout">Logout</a>
                    </div>
                </div>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="farmer_registration">Register now</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="login">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block banner %}
{% endblock %}

{% block content %}
<div class="py-4">
    <h3>
        Crops
    </h3>
    <div class="row d-flex flex-md-row flex-sm-column flex-direction-row
        justify-content-right align-items-center col-md-8 col-sm-8 col-xs-12">
        <a href="user_account" class="mr-3">
            <span class="material-icons">
                reply_all
            </span>
        </a>
        <a href="#" class="btn btn-outline-success">Add crop</a>
    </div>
    <div>

        <table class="table table-bordered rounded mt-3 bg-white">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Crop period start</th>
                <th scope="col">Crop period end</th>
                <th scope="col">Warehouse</th>
                <th scope="col">Stock location</th>
                <!--                <th scope="col">Description</th>-->
            </tr>
            </thead>
            <tbody>
                {% for crop in crops %}
                <tr>
                    <th scope="row">{{crop.id}}</th>
                    <td>{{crop.name}}</td>
                    <td>{{crop.crop_period_start}}</td>
                    <td>{{crop.crop_period_end}}</td>
                    <td>{{crop.warehouse_id.name}}</td>
                    <td>{{crop.location_id.name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}