{% extends "base.html" %}

<!-- {% block custom_style %}
<link rel="stylesheet" type="text/css" href="static/css/aos.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="static/scss/style.css" rel="stylesheet">
<style>
    .categ-banner{
        position:relative;
    }

    .categ-banner .title{
        width:100%;
        height:100%;
        position:absolute;
        z-index:15;
    }

    .categ-banner .product-overlay{
        background-color:rgba(0,0,0,0.5);
        width:100%;
        height:100%;
        position:absolute;
        z-index:10;
    }
</style>
{% endblock %} -->

{% block banner %}
<div class="categ-banner"
         style="
                    background:url('static/images/slider-01.jpg');
                    background-size:cover;
                    background-repeat:no-repeat;height:35vh;">
        <div class="product-overlay"></div>
        <div class="title d-flex flex-column justify-content-center align-items-center">
            <h1 class="py-3 px-3 text-white" data-aos="fade-up" style="text-align:center;" data-aos-delay="100">
                Login
            </h1>
        </div>
    </div>
{% endblock banner %}

{% block content %}

<div class="container">
    <!-- About Section -->
    <div class="about-main">
        <div class="row">
            <div class="col-lg-3" ></div>
            <div class="col-lg-6">
                <form action="/list_farmers" method="post" class="form-horizontal mt32"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3 class="text-center mb8" style="color:#c38647;margin-bottom:1em;">Sign in </h3>
                    <div class="col-lg-12 col-lg-12 mb-4">
                        <div class="col-md-12">
                            <div t-attf-class="form-group" name="div_name">
                                <label class="col-md-12 col-sm-12 control-label" for="email">Email</label>
                                <div class="col-md-12 col-sm-12">
                                    <input type="text" class="form-control" name="email" placeholder="Enter your email" required="True"/>
                                </div>
                            </div>
                        </div><br>
                        <div class="col-md-12">
                            <div t-attf-class="form-group" name="div_name">
                                <label class="col-md-12 col-sm-12 control-label" for="password">Password</label>
                                <div class="col-md-12 col-sm-12">
                                    <input type="password" class="form-control" name="password" placeholder="Enter your password" required="True"/>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-12 col-lg-12 mb-4">
                        <div class="col-md-12 form-group" name="div_submit_main">
                            <div class="col-md-offset-3 col-sm-offset-4 col-sm-8 col-md-7" name="div_submit" style="margin-left: auto;
                            margin-right: auto;">
                               <a href="list_farmers"></a><button class="btn btn-lg btn-secondary btn-block"> Login</button></a> 
                            </div>
                            <P></P>
                            <span style="margin-left: 3%; font-size: smaller;"> <a href="farmer_registration">Don't have an account?</a> </span> <span style="margin-left: 46%; font-size: smaller;"><a href="#">Reset password</a></span>
                        </div>

                    </div>
                   
                </form>
            </div>
            <div class="col-lg-3" ></div>
           <!--  <div class="col-lg-6">
                <img class="img img-responsive img-fluid mb32 rounded"
                     src="static/img/farmer2.jpg"
                     style="width:100%; height:100%;">
                <div class="d-none d-sm-block  d-none d-xs-block header-text httal htvam">
                    <h2 id="header_293" class="form-header"
                        data-component="header">Great companies are built with great people
                    </h2>
                    <input type="hidden" class="post_active" t-att-value="post_job_active"/>
                </div>
            </div> -->
        </div>
        <!-- /.row -->
    </div>
</div>



{% endblock content %}

{% block custom_js %}
<script type="text/javascript" src="static/js/aos.js"></script>
<script type="text/javascript">
            AOS.init();
</script>

{% endblock custom_js %}