{% extends "base.html" %}




{% block content %}
<!-- Page Content -->
<div class="container">
    <div class="services-bar">
        <h1 class="my-4">Main features & Services</h1>
        <!-- Services Section -->
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">Agro-ecologic matching</h4>
                    <div class="card-img">
                        <img class="img-fluid service-img" src="static/images/service1.jpg" alt=""/>
                    </div>
                    <div class="card-body">
                        <p class="card-text">We identify around the continent and the whole Word places with the same
                            climatic and soils’ structure
                            characteristics where IPM technologies succeeded to suggest better solutions to farmer on
                            what the can sow.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">Pest fighting technologies</h4>
                    <div class="card-img">
                        <img class="img-fluid service-img" src="static/images/service2.jpg" alt=""/>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Insects such as locusts can become a real headache in agriculture, our
                            solutions are adapted according
                            to the environment, the crops and the targeted pests.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">Yields Improvement</h4>
                    <div class="card-img">
                        <img class="img-fluid service-img" src="static/images/service3.jpg" alt=""/>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Our digital solutions have been developed to improve your yields at the end
                            of the season.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- About Section -->
    <div class="about-main">
        <div class="row">
            <div class="col-lg-6">
                <h2>Welcome to <strong class="important-text">JLK</strong></h2>
                <p>Following the funding of several research projects of multiple post-doctoral students in Africa by
                    the Volkswagen Foundation, the IPM and agroecology project has also been carried out so far.
                    As agriculture is the flagship activity of the continent, this ambitious project, targeting mainly
                    sub-Saharan Africa, has as main objectives:
                    .</p>
                <!--                <h5>Our smart approach</h5>-->
                <ul>
                    <li>To build an all-inclusive portal for supporting the IPM technologies deployment in Africa.</li>
                    <li>To develop a portal for IPM technology transfer and outreach.</li>
                    <li>To Establish an electronic technology gateway, which is a one-stop-shop to store,
                        browse, search, query, and visualize IPM technologies.
                    </li>
                    <li>To link farmers to inputs and outputs – products and services.</li>
                    <li>To provide a stand-alone gateway with all African countries boundaries and
                        queries for identifying similar agroecology within the continent.
                    </li>
                </ul>
                <!--                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id-->
                <!--                    reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia-->
                <!--                    dolorum ducimus unde.</p>-->
            </div>
            <div class="col-lg-6">
                <img class="img-fluid rounded" src="static/images/hom4.jpg" alt=""/>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- Portfolio Section -->
    <!-- TODO create an abject for the portfolio and add display it in the below section -->
    <!--    <div class="portfolio-main">-->
    <!--        <h2>Our Portfolio</h2>-->
    <!--        <div class="row">-->
    <!--            <div class="col-lg-4 col-sm-6 portfolio-item">-->
    <!--                <div class="card h-100">-->
    <!--                    <div class="card-img">-->
    <!--                        <a href="#">-->
    <!--                            <img class="card-img-top" src="static/images/portfolio-img-01.jpg" alt=""/>-->
    <!--                            <div class="overlay"><i class="fas fa-arrows-alt"></i></div>-->
    <!--                        </a>-->
    <!--                    </div>-->
    <!--                    <div class="card-body">-->
    <!--                        <h4 class="card-title">-->
    <!--                            <a href="#">Lawn & garden care</a>-->
    <!--                        </h4>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="col-lg-4 col-sm-6 portfolio-item">-->
    <!--                <div class="card h-100">-->
    <!--                    <div class="card-img">-->
    <!--                        <a href="#">-->
    <!--                            <img class="card-img-top" src="static/images/portfolio-img-02.jpg" alt=""/>-->
    <!--                            <div class="overlay"><i class="fas fa-arrows-alt"></i></div>-->
    <!--                        </a>-->
    <!--                    </div>-->
    <!--                    <div class="card-body">-->
    <!--                        <h4 class="card-title">-->
    <!--                            <a href="#">Lawn renovation</a>-->
    <!--                        </h4>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="col-lg-4 col-sm-6 portfolio-item">-->
    <!--                <div class="card h-100">-->
    <!--                    <div class="card-img">-->
    <!--                        <a href="#">-->
    <!--                            <img class="card-img-top" src="static/images/portfolio-img-03.jpg" alt=""/>-->
    <!--                            <div class="overlay"><i class="fas fa-arrows-alt"></i></div>-->
    <!--                        </a>-->
    <!--                    </div>-->
    <!--                    <div class="card-body">-->
    <!--                        <h4 class="card-title">-->
    <!--                            <a href="#">Tree planting</a>-->
    <!--                        </h4>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="col-lg-4 col-sm-6 portfolio-item">-->
    <!--                <div class="card h-100">-->
    <!--                    <div class="card-img">-->
    <!--                        <a href="#">-->
    <!--                            <img class="card-img-top" src="static/images/portfolio-img-04.jpg" alt=""/>-->
    <!--                            <div class="overlay"><i class="fas fa-arrows-alt"></i></div>-->
    <!--                        </a>-->
    <!--                    </div>-->
    <!--                    <div class="card-body">-->
    <!--                        <h4 class="card-title">-->
    <!--                            <a href="#">Water Baganig</a>-->
    <!--                        </h4>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="col-lg-4 col-sm-6 portfolio-item">-->
    <!--                <div class="card h-100">-->
    <!--                    <div class="card-img">-->
    <!--                        <a href="#">-->
    <!--                            <img class="card-img-top" src="static/images/portfolio-img-05.jpg" alt=""/>-->
    <!--                            <div class="overlay"><i class="fas fa-arrows-alt"></i></div>-->
    <!--                        </a>-->
    <!--                    </div>-->
    <!--                    <div class="card-body">-->
    <!--                        <h4 class="card-title">-->
    <!--                            <a href="#">Growing plants</a>-->
    <!--                        </h4>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="col-lg-4 col-sm-6 portfolio-item">-->
    <!--                <div class="card h-100">-->
    <!--                    <div class="card-img">-->
    <!--                        <a href="#">-->
    <!--                            <img class="card-img-top" src="static/images/portfolio-img-01.jpg" alt=""/>-->
    <!--                            <div class="overlay"><i class="fas fa-arrows-alt"></i></div>-->
    <!--                        </a>-->
    <!--                    </div>-->
    <!--                    <div class="card-body">-->
    <!--                        <h4 class="card-title">-->
    <!--                            <a href="#">Snow removal</a>-->
    <!--                        </h4>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        &lt;!&ndash; /.row &ndash;&gt;-->
    <!--    </div>-->
    <hr>
    <!-- Get In Touch Now Section -->
    <div class="row mb-4">
        <div class="col-md-8">
            <p>Get a free account and modernise your agriculture, with the most adapted technologies
                and latest information concerning any type of crop or pest.</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-secondary btn-block" href="farmer_registration">Register Now</a>
        </div>
    </div>
</div>
<!-- /.container -->

{% endblock content %}