{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    
    <title>{{ title | default:'JLK - JUKUA LA KILIMO' }} </title>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
   
    <!-- Bootstrap core CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/multiselect/multi-select.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/aos.css' %}"/>
    <!-- Fontawesome CSS -->
    <link href="{% static 'css/all.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/map/loader.css' %}" />
    <link rel="stylesheet" href="{% static 'css/map/style.css' %}" />
</head>
<body>
<!-- Division loader -->
<div id='pageloader'>
	<div class="loader-text text-center"></div>
  	<div class="preloader-wrapper small active bg-blue center-block">
    	<div class="lds-ripple"><div></div><div></div></div>
  	</div>
</div>
<!-- Division loader -->

<!-- Navigation -->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">
    <div class="container">
        <a class="navbar-brand" href="home">
            <img src="{% static "images/kilimo.png" %}" alt="logo" class="custom-logo"/>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="fas fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse activate-current-url" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="home">{% trans "Home" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about">{% trans "About" %}</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="contact">{% trans "Contact Us" %}</a>
                </li>
                
                    <div class="ml-3 btn-group">
                        <button type="button" class="btn  dropdown-toggle" style="background-color: transparent; padding-top: 6px;" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="material-icons mr-2">language</span>
                        </button>
                        <div class="dropdown-menu">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                           
                                {% for language in languages %}
                                    {% if language.code == 'en' or language.code == "fr" %}
                              
                                    <a class="dropdown-item" href="/{{ language.code }}/{{request.get_full_path|slice:"4:"}}">
                                    {{ language.name_local }}
                                    </a>
                                    {% endif %}
                                {% endfor %}
                            </ul>  
                        </div>
                    </div>
                    
                
                {% if uid %}
                <div class="ml-3 btn-group">
                    <button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" href="user_account">
                        {{username}}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="user_account">{% trans "My Account" %}</a>
                        <a class="dropdown-item" href="#">{% trans "Dashboard" %}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="logout">{% trans "Logout" %}</a>
                    </div>
                </div>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="farmer_registration">{% trans "Register now" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login">{% trans "Login" %}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


<header class="slider-main">
    {% block banner %}
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('{% static "images/home1.jpg" %}')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>{% trans "Welcome the innovative agriculture platform" %}</h3>
                    <p>{% trans "Integrated Pest Management, A great solution to revolutionize agriculture in sub-Saharan" %}
                        Africa.</p>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('{% static "images/home2.jpg"%}')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>{% trans "Our Goal" %}</h3>
                    <p>{% trans "We accompany you for better harvests" %}</p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('{% static "images/home3.jpg" %}')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>{% trans "We provide" %}</h3>
                    <p>{% trans "Solutions adapted for every kind of cultures, climates and soils"%}.</p>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    {% endblock %}
</header>

<div class="bg-light">
    <div class="container" style="min-height:50vh">
        {% block content %} Entrer le contenu de votre page ici {% endblock %}
    </div>
</div>

<!--footer starts from here-->
<footer class="footer">
    <div class="container bottom_border">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <h5 class="headin5_amrc col_white_amrc pt2">{% trans "Quick links" %}</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="#">{% trans "Home" %}</a></li>
                    <li><a href="#">{% trans "Services" %}</a></li>
                    <li><a href="#">{% trans "Register now" %}</a></li>
                    <li><a href="#">{% trans "Submit a crop request" %}</a></li>
                    <li><a href="#">{% trans "News" %}</a></li>
                    <!--                    <li><a href="#">Get In Touch</a></li>-->
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col">
                <h5 class="headin5_amrc col_white_amrc pt2">{% trans "Find us" %}</h5>
                <!--headin5_amrc-->
                <p class="mb10">47 Ernest Street, New York</p>
                <p><i class="fa fa-location-arrow"></i> {% trans "United States" %} </p>
                <p><i class="fa fa-phone"></i> +1-646-431-5376 </p>
                <p><i class="fa fa fa-envelope"></i> info@africasystems.com </p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <h5 class="headin5_amrc col_white_amrc pt2">{% trans "Changer de langue" %}</h5>
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}


                <ul class="footer_ul_amrc">
                    {% for language in languages %}
                        {% if language.code == 'en' or language.code == "fr" %}
                    <li>
                        <a href="/{{ language.code }}/{{request.get_full_path|slice:"4:"}}"
                        {% if language.code == LANGUAGE_CODE %} class="selected"{% endif %}>
                        {{ language.name_local }}
                        </a>
                    </li>
                        {% endif %}
                    {% endfor %}
                </ul>  
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col">
                <div class="footer-logo">
                    <a href="#"><img src="{% static 'images/kilimoWhite.png' %}" alt="" class="custom-logo"/></a>
                </div>
                <!--foote_bottom_ul_amrc ends here-->
                <p class="copyright text-center">
                    {% trans "All Rights Reserved." %} &copy; 2021 <a href="https://africasystems.com/">AfricaSystems</a>
                </p>
                <ul class="social_footer_ul">
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            
    </div>
</footer>

<!-- Bootstrap core JavaScript -->

<script type="text/javascript" src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/multiselect/multi-select-min.js' %}"></script>
<script src="{% static 'js/myscript.js' %}"></script>

<script src="{% static 'admin/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'admin/plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'admin/plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'admin/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'admin/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'admin/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'admin/dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'admin/dist/js/demo.js' %}"></script>
<!-- Page specific script -->
<script>
AOS.init();
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });

</script>
<script type="text/javascript" src="{% static 'js/utility.js' %}"></script>
{% block custom_js %} {% endblock %}
</body>
</html>